https://jarroba.com/python-mongodb-driver-pymongo-con-ejemplos/

In [1]:
from pymongo import MongoClient

In [ ]:
#!pip install PyMySQL
#!pip install pymongo
#pip install pandas

Con esta parte nos conectamos a la bd. debemos poner el nombre de la base de datos en mongo y la collection

In [ ]:
#client = MongoClient("mongodb+srv://ajrvalen:Mateo2020@clustersorella.deib2vo.mongodb.net/prueba")

client = MongoClient("mongodb+srv://danielgarcia_db_user:Windows25..@clusterdanielgarcia.6sl5wsx.mongodb.net/?retryWrites=true&w=majority&appName=ClusterDanielGarcia")

db = client.BDALMAC_UAO_2025_02

collection = db.Heroes

collection_peliculas = db.Peliculas

collection_protagonistas = db.Protagonistas




#collection_paises = db.paises

#collection_personas = db.personas

#collection_titulos = db.titulos

#collection_protagonistas = db.protagonistas

#collection_usuarios = db.usuarios

aqui conectamos a mysql

In [3]:
import pymysql 

conn = pymysql.connect( 
        host='monorail.proxy.rlwy.net', 
        password = 'mariadb', 
        user='mydb',  
        port=23251, 
        db='myDb', 
        ) 

cur = conn.cursor() 
cur.execute("select @@version") 
output = cur.fetchall() 
print(output) 

# Select query  heroes
cur.execute("SELECT * FROM heroes_danielgarcia") 
heroes_danielgarcia = cur.fetchall() 

print(heroes_danielgarcia)

# Select query peliculas
cur.execute("SELECT * FROM peliculas_danielgarcia") 
peliculas_danielgarcia = cur.fetchall() 

print(peliculas_danielgarcia)

# Select query protagonistas
cur.execute("SELECT * FROM protagonistas_danielgarcia") 
protagonistas_danielgarcia = cur.fetchall() 

print(protagonistas_danielgarcia)




#for heroe in heroes: 
#    print(heroe)


# To close the connection 
#conn.close()

(('8.4.6',),)
((1, 'Batman', 'Bruce Wayne, el Caballero Oscuro de Gotham.', 'batman.png', datetime.date(1939, 5, 1), 'DC'), (2, 'Superman', 'Clark Kent, el último hijo de Krypton.', 'superman.png', datetime.date(1938, 6, 1), 'DC'), (3, 'Spider-Man', 'Peter Parker, el Hombre Araña.', 'spiderman.png', datetime.date(1962, 8, 1), 'Marvel'), (4, 'Iron Man', 'Tony Stark, el genio multimillonario con armadura.', 'ironman.png', datetime.date(1963, 3, 1), 'Marvel'), (5, 'Wonder Woman', 'Diana Prince, princesa amazona.', 'wonderwoman.png', datetime.date(1941, 12, 1), 'DC'), (6, 'Hulk', 'Prueba de POST y PUT para héroe Hulk', 'pruebaHulk.png', datetime.date(2025, 9, 30), 'Marvel'), (8, 'El Sr Capitan América', 'Supersoldado modificado que usa escudo.', 'capitanamerica.png', datetime.date(2025, 9, 30), 'Marvel'))
((1, 'The Dark Knight'), (2, 'Man of Steel'), (3, 'Spider-Man: Homecoming'), (4, 'Iron Man'), (5, 'Wonder Woman'), (6, 'Spider-Man: 3'), (7, 'Avengers: Endgame 2'))
((1, 'Bruce Wayne / Batman', datetime.date(2008, 7, 18), 1, 1), (2, 'Clark Kent / Superman', datetime.date(2013, 6, 14), 2, 2), (3, 'Peter Parker / Spider-Man', datetime.date(2017, 7, 7), 3, 3), (4, 'Tony Stark / Iron Man', datetime.date(2008, 5, 2), 4, 4), (5, 'Diana Prince / Wonder Woman', datetime.date(2017, 6, 2), 5, 5), (6, 'Norman Osborn / Duende Verde', datetime.date(2025, 9, 30), 6, 6))

In [ ]:
import pandas as pd

class Heroe:

    def __init__(self, id:int, nombre: str, bio: str, img: str, aparicion: str,casa:str):
        self.id = id
        self.nombre = nombre
        self.bio = bio
        self.img = img
        self.aparicion = aparicion
        self.casa = casa

    def toDBCollection(self):

        aparicion_str = self.aparicion.isoformat()
        return {
            "id": self.id,
            "nombre": self.nombre,
            "bio": self.bio,
            "img": self.img,
            "aparicion": aparicion_str,
            "casa": self.casa
        }

    def __str__(self):
        return f"Id: {self.id} - Nombre: {self.nombre} - Bio: {self.bio} - Img: {self.img} - Aparicion: {self.aparicion} - Casa: {self.casa} "

#definimos un arreglo (array) de heroes

docHeroes = [] #crear una lista (array)  para guardar los documentos

listaHeroes = []

for heroe in heroes_danielgarcia:
    docHeroes.append(heroe)
    unHeroe = Heroe(heroe[0],heroe[1],heroe[2],heroe[3],heroe[4],heroe[5])
    print(unHeroe)
    listaHeroes.append(unHeroe)


print(listaHeroes)

dfHeroes =  pd.DataFrame(docHeroes)

dfHeroes

Id: 1 - Nombre: Batman - Bio: Bruce Wayne, el Caballero Oscuro de Gotham. - Img: batman.png - Aparicion: 1939-05-01 - Casa: DC
Id: 2 - Nombre: Superman - Bio: Clark Kent, el último hijo de Krypton. - Img: superman.png - Aparicion: 1938-06-01 - Casa: DC
Id: 3 - Nombre: Spider-Man - Bio: Peter Parker, el Hombre Araña. - Img: spiderman.png - Aparicion: 1962-08-01 - Casa: Marvel
Id: 4 - Nombre: Iron Man - Bio: Tony Stark, el genio multimillonario con armadura. - Img: ironman.png - Aparicion: 1963-03-01 - Casa: Marvel
Id: 5 - Nombre: Wonder Woman - Bio: Diana Prince, princesa amazona. - Img: wonderwoman.png - Aparicion: 1941-12-01 - Casa: DC
Id: 6 - Nombre: Hulk - Bio: Prueba de POST y PUT para héroe Hulk - Img: pruebaHulk.png - Aparicion: 2025-09-30 - Casa: Marvel
Id: 8 - Nombre: El Sr Capitan América - Bio: Supersoldado modificado que usa escudo. - Img: capitanamerica.png - Aparicion: 2025-09-30 - Casa: Marvel
[<__main__.Heroe object at 0x000001F968A3BB60>, <__main__.Heroe object at 0x000001F968BAC410>, <__main__.Heroe object at 0x000001F968BAC550>, <__main__.Heroe object at 0x000001F968AEB820>, <__main__.Heroe object at 0x000001F968AEB950>, <__main__.Heroe object at 0x000001F968B757F0>, <__main__.Heroe object at 0x000001F958B59590>]

,0,1,2,3,4,5
0,1,Batman,"Bruce Wayne, el Caballero Oscuro de Gotham.",batman.png,1939-05-01,DC
1,2,Superman,"Clark Kent, el último hijo de Krypton.",superman.png,1938-06-01,DC
2,3,Spider-Man,"Peter Parker, el Hombre Araña.",spiderman.png,1962-08-01,Marvel
3,4,Iron Man,"Tony Stark, el genio multimillonario con armad...",ironman.png,1963-03-01,Marvel
4,5,Wonder Woman,"Diana Prince, princesa amazona.",wonderwoman.png,1941-12-01,DC
5,6,Hulk,Prueba de POST y PUT para héroe Hulk,pruebaHulk.png,2025-09-30,Marvel
6,8,El Sr Capitan América,Supersoldado modificado que usa escudo.,capitanamerica.png,2025-09-30,Marvel

In [5]:
import pandas as pd

class Peliculas:

    def __init__(self, id:int, nombre: str):
        self.id = id
        self.nombre = nombre

    def toDBCollection(self):
        return {
            "id": self.id,
            "nombre": self.nombre
        }

    def __str__(self):
        return f"Id: {self.id} - Nombre: {self.nombre}"

#definimos un arreglo (array) de pelculas

docPeliculas = [] #crear una lista (array)  para guardar los documentos

listaPeliculas = []

for pelicula in peliculas_danielgarcia:
    docPeliculas.append(pelicula)
    unaPelicula = Peliculas(pelicula[0],pelicula[1])
    print(unaPelicula)
    listaPeliculas.append(unaPelicula)


print(listaPeliculas)

dfPeliculas =  pd.DataFrame(docPeliculas)

dfPeliculas

Id: 1 - Nombre: The Dark Knight
Id: 2 - Nombre: Man of Steel
Id: 3 - Nombre: Spider-Man: Homecoming
Id: 4 - Nombre: Iron Man
Id: 5 - Nombre: Wonder Woman
Id: 6 - Nombre: Spider-Man: 3
Id: 7 - Nombre: Avengers: Endgame 2
[<__main__.Peliculas object at 0x000001F968B49FD0>, <__main__.Peliculas object at 0x000001F968BACB90>, <__main__.Peliculas object at 0x000001F968BACA50>, <__main__.Peliculas object at 0x000001F968BEC180>, <__main__.Peliculas object at 0x000001F968BEC2B0>, <__main__.Peliculas object at 0x000001F968B76B10>, <__main__.Peliculas object at 0x000001F968B56580>]

   0                       1
0  1         The Dark Knight
1  2            Man of Steel
2  3  Spider-Man: Homecoming
3  4                Iron Man
4  5            Wonder Woman
5  6           Spider-Man: 3
6  7     Avengers: Endgame 2

In [13]:
import pandas as pd

class Protagonistas:

    def __init__(self, id:int, papel: str, fecha_participacion: str, heroes_id: str, peliculas_id: str):
        self.id = id
        self.papel = papel
        self.fecha_participacion = fecha_participacion
        self.heroes_id = heroes_id
        self.peliculas_id = peliculas_id

    def toDBCollection(self):

        fecha_participacion_str = self.fecha_participacion.isoformat()
        return {
            "id": self.id,
            "papel": self.papel,
            "fecha_participacion": fecha_participacion_str,
            "heroes_id": self.heroes_id,
            "peliculas_id": self.peliculas_id

        }

    def __str__(self):
        return f"Id: {self.id} - Papel: {self.papel} - Fecha Participación: {self.fecha_participacion} - Heroes_Id: {self.heroes_id} - Peliculas_Id: {self.peliculas_id}"


#definimos un arreglo (array) de pelculas

docProtagonistas = [] #crear una lista (array)  para guardar los documentos

listaProtagonistas = []

for protagonista in protagonistas_danielgarcia:
    docProtagonistas.append(protagonista)
    unProtagonista = Protagonistas(protagonista[0],protagonista[1],protagonista[2],protagonista[3],protagonista[4])
    print(unProtagonista)
    listaProtagonistas.append(unProtagonista)


print(listaProtagonistas)

dfProtagonistas =  pd.DataFrame(docProtagonistas)

dfProtagonistas

Id: 1 - Papel: Bruce Wayne / Batman - Fecha Participación: 2008-07-18 - Heroes_Id: 1 - Peliculas_Id: 1
Id: 2 - Papel: Clark Kent / Superman - Fecha Participación: 2013-06-14 - Heroes_Id: 2 - Peliculas_Id: 2
Id: 3 - Papel: Peter Parker / Spider-Man - Fecha Participación: 2017-07-07 - Heroes_Id: 3 - Peliculas_Id: 3
Id: 4 - Papel: Tony Stark / Iron Man - Fecha Participación: 2008-05-02 - Heroes_Id: 4 - Peliculas_Id: 4
Id: 5 - Papel: Diana Prince / Wonder Woman - Fecha Participación: 2017-06-02 - Heroes_Id: 5 - Peliculas_Id: 5
Id: 6 - Papel: Norman Osborn / Duende Verde - Fecha Participación: 2025-09-30 - Heroes_Id: 6 - Peliculas_Id: 6
[<__main__.Protagonistas object at 0x000001F969C14440>, <__main__.Protagonistas object at 0x000001F968BAF4D0>, <__main__.Protagonistas object at 0x000001F968BAF610>, <__main__.Protagonistas object at 0x000001F968BEF6F0>, <__main__.Protagonistas object at 0x000001F968BEFCE0>, <__main__.Protagonistas object at 0x000001F958B56E70>]

   0                             1           2  3  4
0  1          Bruce Wayne / Batman  2008-07-18  1  1
1  2         Clark Kent / Superman  2013-06-14  2  2
2  3     Peter Parker / Spider-Man  2017-07-07  3  3
3  4         Tony Stark / Iron Man  2008-05-02  4  4
4  5   Diana Prince / Wonder Woman  2017-06-02  5  5
5  6  Norman Osborn / Duende Verde  2025-09-30  6  6

### A partir de aqui el profesor hizo lo mismo de definir clases pero con otra información de otra clase, no hace falta ejecutarlo porque no existe en mi BD

In [ ]:
import pandas as pd

class Pais:

    def __init__(self, idpais:str, nombre: str, continente: str):
        self.idpais = idpais
        self.nombre = nombre
        self.continente = continente

    def toDBCollection(self):

        #aparicion_str = self.aparicion.isoformat()
        return {
            "idpais": self.idpais,
            "nombre": self.nombre,
            "continente": self.continente
        }

    def __str__(self):
        return f"Id: {self.idpais} - Nombre: {self.nombre} - Contienente: {self.continente}"

cur.execute("SELECT * FROM pais_profe") 
paises = cur.fetchall() 

print(paises)

docPaises = [] #crear una lista (array)  para guardar los documentos

listaPaises = []

for pais in paises:
    docPaises.append(pais)
    unPais = Pais(pais[0],pais[1],pais[2])
    print(unPais)
    listaPaises.append(unPais)


print(listaPaises)

dfPaises =  pd.DataFrame(docPaises)

dfPaises

In [ ]:
#idpersona_profe
#nombres
#apellidos
#fecha_nacimiento
#vive
#email
#email
#pais_profe_idpais_profe

import pandas as pd

class Persona:

    def __init__(self, idpersona:int, nombres: str, apellidos: str, fecha_nacimiento: str, vive: str, genero: str, email: str, idpais:str ):
        self.idpersona = idpersona
        self.nombres = nombres
        self.apellidos = apellidos
        self.fecha_nacimiento = fecha_nacimiento
        self.vive = vive
        self.genero = genero
        self.email = email
        #self.idpais_profe = idpais_profe
        self.idpais = idpais

    def toDBCollection(self):

        fecha_nacimiento_str = self.fecha_nacimiento.isoformat()
        return {
            "idpersona": self.idpersona,
            "nombres": self.nombres,
            "apellidos": self.apellidos,
            "fecha_nacimiento": fecha_nacimiento_str,
            "vive": self.vive,
            "genero": self.genero,
            "email": self.email,
            "idpais": self.idpais,
        }

    def __str__(self):
        return f"Idpersona: {self.idpersona} - Nombres: {self.nombres} - Apellidos: {self.apellidos} - FNacimiento: {self.fecha_nacimiento} - Vive: {self.vive} - Genero: {self.genero} - Email: {self.email} - IdPais: {self.idpais} "

cur.execute("SELECT * FROM persona_profe") 
personas = cur.fetchall() 

print(personas)

docPersonas = [] #crear una lista (array)  para guardar los documentos

listaPersonas = []

for persona in personas:
    docPersonas.append(persona)

    unIdPais = persona[7]
    unIdPaisMongo = persona[7]
    
    pais = collection_paises.find_one({"idpais":unIdPais})

    if pais:
        unIdPaisMongo = pais['_id']
        #print(pais)
        #print("Pais ya esta en la BD",pais['_id'])

    
    unaPersona = Persona(persona[0],persona[1],persona[2],persona[3],persona[4],persona[5],persona[6],unIdPaisMongo)
    print(unaPersona)
    listaPersonas.append(unaPersona)


print(listaPersonas)

dfPersonas =  pd.DataFrame(docPersonas)

dfPersonas

In [ ]:

#idtitulo_profe
#nombre
#descripcion
#rating
#categoria
#fecha_liberacion



import pandas as pd

class Titulo:

    def __init__(self, idtitulo:int, nombre: str, descripcion: str, rating: str, categoria: str, fecha_liberacion: str):
        self.idtitulo = idtitulo
        self.nombre = nombre
        self.descripcion = descripcion
        self.rating = rating
        self.categoria = categoria
        self.fecha_liberacion = fecha_liberacion

    def toDBCollection(self):

        fecha_liberacion_str = self.fecha_liberacion.isoformat()
        return {
            "idtitulo": self.idtitulo,
            "nombre": self.nombre,
            "descripcion": self.descripcion,
            "rating": self.rating,
            "categoria": self.categoria,
            "fecha_liberacion": fecha_liberacion_str,
        }

    def __str__(self):
        return f"Idtitulo: {self.idtitulo} - Nombre: {self.nombre} - Descripcion: {self.descripcion} - Rating: {self.rating} - Categoria: {self.categoria} - FLiberacion: {self.fecha_liberacion}"

cur.execute("SELECT * FROM titulo_profe") 
titulos = cur.fetchall() 

print(titulos)

docTitulos = [] #crear una lista (array)  para guardar los documentos

listaTitulos = []

for titulo in titulos:
    docTitulos.append(titulo)

    
   
    unTitulo = Titulo(titulo[0],titulo[1],titulo[2],titulo[3],titulo[4],titulo[5])
    print(unTitulo)
    listaTitulos.append(unTitulo)


print(listaTitulos)

dfTitulos =  pd.DataFrame(docTitulos)

dfTitulos

In [ ]:
#idprotagonista
#fecha_realizacion
#papel_realizado
#role
#idtitulo
#idpersona


import pandas as pd

class Protagonista:

    def __init__(self, idprotagonista:int, fecha_realizacion: str, papel_realizado: str, role: str, idtitulo: str, idpersona: str):
        self.idprotagonista = idprotagonista
        self.fecha_realizacion = fecha_realizacion
        self.papel_realizado = papel_realizado
        self.role = role
        self.idtitulo = idtitulo
        self.idpersona = idpersona

    def toDBCollection(self):

        fecha_realizacion_str = self.fecha_realizacion.isoformat()
        return {
            "idprotagonista": self.idprotagonista,
            "fecha_realizacion": fecha_realizacion_str,
            "papel_realizado": self.papel_realizado,
            "role": self.role,
            "idtitulo": self.idtitulo,
            "idpersona": self.idpersona,
        }

    def __str__(self):
        return f"Idprotagonista: {self.idprotagonista} - Fecha_realizacion: {self.fecha_realizacion} - Papel_Realizado: {self.papel_realizado} - Role: {self.role} - Idtitulo: {self.idtitulo} - Idpersona: {self.idpersona}"

cur.execute("SELECT * FROM protagonistas_profe") 
protagonistas = cur.fetchall() 

print(protagonistas)

docProtagonistas = [] #crear una lista (array)  para guardar los documentos

listaProtagonistas = []

for protagonista in protagonistas:
    docProtagonistas.append(protagonista)

    #Para buscar el ID de la persona en MONGO
    unIdPersona = protagonista[5]
    unIdPersonaMongo = protagonista[5]
    
    persona = collection_personas.find_one({"idpersona":unIdPersona})

    if persona:
        unIdPersonaMongo = persona['_id']
        #print(pais)
        #print("Pais ya esta en la BD",pais['_id'])


    #Para buscar el ID del titulo en MONGO
    unIdTitulo = protagonista[4]
    unIdTituloMongo = protagonista[4]
    
    titulo = collection_titulos.find_one({"idtitulo":unIdTitulo})

    if titulo:
        unIdTituloMongo = titulo['_id']
    
    unProtagonista = Protagonista(protagonista[0],protagonista[1],protagonista[2],protagonista[3],unIdTituloMongo,unIdPersonaMongo)
    print(unProtagonista)
    listaProtagonistas.append(unProtagonista)


print(listaProtagonistas)

dfProtagonistas =  pd.DataFrame(docProtagonistas)

dfProtagonistas

In [ ]:
import pandas as pd

class Usuario:

    def __init__(self, id:int, nombre: str, correo: str, password: str, img: str, rol: str, estado: bool, google: bool, fecha_creacion: str, fecha_actualizacion: str):
        self.id = id
        self.nombre = nombre
        self.correo = correo
        self.password = password
        self.img = img
        self.rol = rol
        self.estado = estado
        self.google = google
        self.fecha_creacion = fecha_creacion
        self.fecha_actualizacion = fecha_actualizacion

    def toDBCollection(self):

        #fecha_creacion_str = self.fecha_creacion.isoformat()
        #fecha_actualizacion_str = self.fecha_actualizacion.isoformat()
        return {
            "id": self.id,
            "nombre": self.nombre,
            "correo": self.correo,
            "password": self.password,
            "img": self.img,
            "rol": self.rol,
            "estado": self.estado,
            "google": self.google,
            "fecha_creacion": self.fecha_creacion,
            "fecha_actualizacion": self.fecha_actualizacion,
        }

    def __str__(self):
        return f"Id: {self.id} - Nombre: {self.nombre} - Correo: {self.correo} - Password: {self.password} - Img: {self.img} - rol: {self.rol} - estado: {self.estado} - google: {self.google}"

cur.execute("SELECT * FROM usuarios") 
usuarios = cur.fetchall() 

print(usuarios)

docUsuarios = [] #crear una lista (array)  para guardar los documentos

listaUsuarios = []

for usuario in usuarios:
    docUsuarios.append(usuario)
   
    unUsuario = Usuario(usuario[0],usuario[1],usuario[2],usuario[3],usuario[4],usuario[5],usuario[6],usuario[7],usuario[8],usuario[9])
    print(unUsuario)
    listaUsuarios.append(unUsuario)


print(listaUsuarios)

dfUsuarios =  pd.DataFrame(docUsuarios)

dfUsuarios

# Aqui insertamos los heroes de mi base de datos en sql heroes_danielgarcia a mongo

In [10]:
import datetime

heroes_insertados = []
for unHeroe in listaHeroes:

    heroe = collection.find_one({"nombre":unHeroe.nombre})  
    if heroe:
        print("Heroe ya esta en la BD",heroe['_id'])

    else:
        print(unHeroe.id)

        resultado = collection.insert_one(unHeroe.toDBCollection())
        heroes_insertados.append(resultado.inserted_id)
print("Heroes insertados: ", heroes_insertados)

Heroe ya esta en la BD 68e98e3e913980354e80fb16
Heroe ya esta en la BD 68e98e3e913980354e80fb17
Heroe ya esta en la BD 68e98e3f913980354e80fb18
Heroe ya esta en la BD 68e98e3f913980354e80fb19
Heroe ya esta en la BD 68e98e3f913980354e80fb1a
Heroe ya esta en la BD 68e98e3f913980354e80fb1b
Heroe ya esta en la BD 68e98e3f913980354e80fb1c
Heroes insertados:  []

# Aqui insertamos las peliculas de mi base de datos en sql peliculas_danielgarcia a mongo

In [11]:
peliculas_insertadas = []
for unaPelicula in listaPeliculas:

    pelicula = collection_peliculas.find_one({"nombre":unaPelicula.nombre})  
    if pelicula:
        print("Película ya esta en la BD",pelicula['_id'])

    else:
        print(unaPelicula.id)

        resultado = collection_peliculas.insert_one(unaPelicula.toDBCollection())
        peliculas_insertadas.append(resultado.inserted_id)
print("Películas insertadas: ", peliculas_insertadas)

Película ya esta en la BD 68e98ef5913980354e80fb22
Película ya esta en la BD 68e98ef6913980354e80fb23
Película ya esta en la BD 68e98ef6913980354e80fb24
Película ya esta en la BD 68e98ef6913980354e80fb25
Película ya esta en la BD 68e98ef6913980354e80fb26
Película ya esta en la BD 68e98ef6913980354e80fb27
Película ya esta en la BD 68e98ef7913980354e80fb28
Películas insertadas:  []

# Aqui insertamos los protagonistas de mi base de datos en sql protagonistas_danielgarcia a mongo

In [15]:
import datetime

protagonistas_insertados = []
for unProtagonista in listaProtagonistas:

    protagonista = collection_protagonistas.find_one({"papel":unProtagonista.papel})  
    if protagonista:
        print("Protagonista ya esta en la BD",protagonista['_id'])

    else:
        print(unProtagonista.id)

        resultado = collection_protagonistas.insert_one(unProtagonista.toDBCollection())
        protagonistas_insertados.append(resultado.inserted_id)
print("Protagonistas insertados: ", protagonistas_insertados)

Protagonista ya esta en la BD 68f19b9714ba270644a3a248
Protagonista ya esta en la BD 68f19b9714ba270644a3a249
Protagonista ya esta en la BD 68f19b9814ba270644a3a24a
Protagonista ya esta en la BD 68f19b9814ba270644a3a24b
Protagonista ya esta en la BD 68f19b9814ba270644a3a24c
Protagonista ya esta en la BD 68f19b9814ba270644a3a24d
Protagonistas insertados:  []

### A partir de aqui el profesor usa info que no existe en mi BD, no hace falta ejecutar

In [ ]:
import datetime

paises_insertados = []
for unPais in listaPaises:
      
    pais = collection_paises.find_one({"idpais":unPais.idpais})  
    if pais:
        print(pais)
        print("Pais ya esta en la BD",pais['_id'])
        
    else:
        resultado = collection_paises.insert_one(unPais.toDBCollection())
        paises_insertados.append(resultado.inserted_id)
print("Paises insertados: ", paises_insertados)

In [ ]:
import datetime

personas_insertadas = []
for unaPersona in listaPersonas:
      
    persona = collection_personas.find_one({"idpersona":unaPersona.idpersona})  
    if persona:
        #print(persona)
        #print("Persona ya esta en la BD",persona['_id'])
        unIdPersonaMongo = persona['_id']
        
    else:
        resultado = collection_personas.insert_one(unaPersona.toDBCollection())
        personas_insertadas.append(resultado.inserted_id)
print("Personas insertadas: ", personas_insertadas)

In [ ]:
import datetime

titulos_insertados = []
for unTitulo in listaTitulos:
      
    titulo = collection_titulos.find_one({"idtitulo":unTitulo.idtitulo})  
    if titulo:
        print(titulo)
        print("Titulo ya esta en la BD",titulo['_id'])
        
    else:
        resultado = collection_titulos.insert_one(unTitulo.toDBCollection())
        titulos_insertados.append(resultado.inserted_id)
print("Titulos insertados: ", titulos_insertados)

In [ ]:
#import datetime

protagonistas_insertados = []
for unProtagonista in listaProtagonistas:
      
    protagonista = collection_protagonistas.find_one({"idprotagonista":unProtagonista.idprotagonista})  
    if protagonista:
        print(protagonista)
        print("Protagonista ya esta en la BD",protagonista['_id'])
        
    else:
        resultado = collection_protagonistas.insert_one(unProtagonista.toDBCollection())
        protagonistas_insertados.append(resultado.inserted_id)
print("Protagonistas insertados: ", protagonistas_insertados)

In [ ]:
#import datetime

usuarios_insertados = []
for unUsuario in listaUsuarios:
      
    usuario = collection_usuarios.find_one({"idusuario":unUsuario.id})  
    if usuario:
        print(usuario)
        print("Usuario ya esta en la BD",usuario['_id'])
        
    else:
        resultado = collection_usuarios.insert_one(unUsuario.toDBCollection())
        usuarios_insertados.append(resultado.inserted_id)
print("Usuarioss insertados: ", usuarios_insertados)